<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add new genre</title>
    <style type="text/css">
    body {
        padding: 50px;
    }

    label {
        display: inline-block;
        width: 100px;
    }

    .row {
        margin-top: 10px;
    }
    </style>
</head>
<body>
<form id="add-form" action="add.html" th:method="post" th:action="@{/genres}">
    <h3>Genre:</h3>

    <div class="row">
        <label for="genre-name-input">Name:</label>
        <input id="genre-name-input" name="name" type="text" placeholder="Name"/>
    </div>

    <div class="row">
        <button type="submit">Save</button>
        <a href="list.html" th:href="@{/genres}"><button type="button">Cancel</button></a>
    </div>
</form>
</body>
</html>