<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add new book</title>
    <style type="text/css">
    body {
        padding: 50px;
    }

    label {
        display: inline-block;
        width: 100px;
    }

    .row {
        margin-top: 10px;
    }
    </style>
</head>
<body>
<form id="add-form" action="add.html" th:method="post" th:action="@{/books}">
    <h3>Book:</h3>

    <div class="row">
        <label for="book-name-input">Name:</label>
        <input id="book-name-input" name="name" type="text" placeholder="Name"/>
    </div>

    <div class="row">
        <label for="book-author-input">Author ID:</label>
        <input id="book-author-input" name="authorId" type="text" placeholder="1"/>
    </div>

    <div class="row">
        <label for="book-genre-input">Genre ID:</label>
        <input id="book-genre-input" name="genreId" type="text" placeholder="1"/>
    </div>

    <div class="row">
        <button type="submit">Save</button>
        <a href="list.html" th:href="@{/books}"><button type="button">Cancel</button></a>
    </div>
</form>
</body>
</html>